{% load static %}
<html>
<body>
<center><h1 style="background-color:bisque">About Us</h1></center>
    <h2>E-Waste:</h2>
    <p>
Living in the world of digital technology and electronics, has not only emerged as a boon but also as a bane. It has helped us solve many real world problem in the most efficient way, nonetheless, it has turned out to be one of the biggest problems when it comes to the disposal over the years.</p>
     <img src="{% static 'waste/about1.jpg' %}" height=200px width=300px>
    <p>Whenever we buy a new smartphone, laptop or a camera, we never think about our old devices, whatshould be the right way to t dispose them without causing harm to the environment, how do we recycle them so that they get a new lease of life and are revolved back again in the economy. Disposing an old device has severe impact on the environment as well as oh human life, as they contain various semiconductors or elements that are compose of harmful chemicals like lead, cadmium, beryllium or even brominated flame retardants. Hence, before you dispose your old device, think of the impact it would create and how many lives it will endanger.</p>
    <img src="{% static 'waste/about2.jpg' %}" height=200px width=300px>
    <img src="{% static 'waste/about3.jpg' %}" height=200px width=300px>
 <img src="{% static 'waste/download.jpg' %}" style="width: 100%;height:200px;margin-top: 50px">
</body>
</html>