{% load static %}
<html>
    <body>
       <center> <h2 style="background-color: bisque">Blogs</h2></center>
        <div style="border: 1px solid black">
            <h3>What is E waste?</h3>
             <img src="{% static 'waste/E-Waste.png' %}" height=200px width=300px>
            <p>Electronic Waste (e-waste) is one of the fastest growing segments of our nation’s waste stream. It encompasses all broken, unusable, or outdated/obsolete electronic devices, components, and materials. In addition, e-waste also encompasses items that can be e-cycled (electronics that are going to be reused, resold, salvaged, or recycled).</p>

            <p>This makes sense as our technology growth rate continues to accelerate exponentially. As previously mentioned, technology seems to become all but obsolete only a short time after it’s purchased. That quick turn over usually happens in our periphery because, with electronics, out of sight really is out of mind.</p>
        </div>
        <div style="border: 1px solid black;margin-top: 10px">
            <h3>What are effects of E waste?</h3>
            <p>Reduce, Reuse, and Recycle are terms that most people commonly associate with items such as paper, plastic, and glass. The need to recycle these items is understood because of the global impact that they can have when their only purpose is to take up space in a landfill. But what about e-waste?</p>
            <p>E-waste can be some of the most dangerous discarded items but they are rarely seen as such. Why is that? The reason often comes down to their packaging.</p>
            <p>There is definitely a false sense of security when it comes to our electronics being non-hazardous when they become waste. Part of the problem is the packaging of the devices. Their sleek and appealing exteriors make it hard to see them as waste. When you look at a landfill image of stacks of old TVs and laptops, for instance, you only see the benign exterior. It’s what you can’t see that makes electronic waste so dangerous.</p>
        </div>
        
    </body>
</html>