{% load static %}
<html>
   
<body>
<div style="background-color:bisque;color:midnightblue;width:100%;height:100px;margin-bottom:20px">
<center><h1>E-waste management</h1></center>
    <a href="about/" style="padding-left: 20px"><b>About Us</b></a>
     <a href="contact/" style="padding-left:20%"><b>Contact Us</b></a>
     <a href="prod"  style="padding-left:20%"><b>Our Products</b></a>
    <a href="login/" style="padding-left:15%"><b>Login</b></a>
     <a href="blogs/" style="float: right;padding-right:40px"><b>Blog</b></a>
</div>

 <div id="slider">
    
     <img src="{% static 'waste/ard.jpg' %}" style="width: 100%;height:500px">
    
         
    
    </div>

<div style="background-color:bisque;color:midnightblue;width: 100%;height:100px;padding-top: 20px">
   <center><h3>Use the unused and make the best of it!</h3> </center>
</div>
</body>
</html>